header{
    padding: 10px 0;
    border-bottom: 1px solid rgb(237, 249, 250);
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.nav-link{
    color: #000000;
    position: relative;
}

.nav-link::after{
    transition: 0.5s ease;
    content: '';
    position: absolute;
    bottom: -36.5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #0082F4;
}

.nav-link:hover{
    color: #0082F4;
}

.nav-link:hover::after{
    width: 100%;
}

