@import url('https://fonts.googleapis.com/css2?family=Comforter&family=DM+Mono:wght@300;400;500&family=DM+Sans:wght@400;500;700&family=Inspiration&family=Karla:wght@400;500;600;700;800&family=Noto+Sans:wght@400;700&family=Palette+Mosaic&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Qahiri&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=The+Nautigal:wght@400;700&family=Wallpoet&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1440px;
  width: 100%;
  margin:0 auto;
  padding: 0 16px;
}

body{
  font-family: 'Roboto', monospace;
}


a{
  text-decoration: none;
}

ul,
li{
  list-style-type: none;
}


